@import "jekyll-theme-chirpy";

img.preview-img {
  filter: grayscale(100%) sepia(80%) hue-rotate(250deg) saturate(150%) !important;
  transition: filter 0.3s ease !important;
}

img.preview-img:hover {
  filter: none !important;
}
